extends layout 
 
block content 
    h1= title 
    - let items = results;
    - let foodid = toShow._id 
    - let food_category = toShow.food_category
    - let foodcost = toShow.cost 
    - let foodquality = toShow.quality
    
    

    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{foodid} 
    - let actionid = "/resource/food/" + foodid 
    
    form(id='FoodForm', action=actionid, method="PUT") 
        div.form-group 
            label.foodAttr(for='id') ID 
            input#size(type='text', name='id') 
        div.form-group 
            label.foodAttr(for='food_category') Food type 
            input#food_type(type='text', name='food_category', value=food_category) 
        div.form-group 
            label.foodAttr(for='quality') Food size 
            input#size(type='text', name='quality', value=foodquality) 
        div.form-group 
            label.foodAttr(for='cost') Food cost 
            input#cost(type='number', name='cost', value=foodcost) 
        input(type="submit") 
    
    script. 
        document.forms['FoodForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'POST', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Save succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Save failed " + error ) 
        }); 
        }); 